* {
    margin: 0;
    padding: 0;

}

.transparent-block {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 80%;
    max-height: 80%;
    margin: 50px auto;
    width: 80%;
    height: 80%;
    padding: 0;
}   

.contador {
    display: inline-flex;
    border: 1px white solid;
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 0;
    display: flex;
}

.contador h3 {
    display: flex;
}

h3 {
    margin: auto;
    font-family: ancient;
    font-weight: 100;
    font-size: 50px;
}