main {
    background-color: rgb(50, 50, 50);
    width: 100%;
}

main h2 {
    font-family: darkside;
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
    font-weight: 100;
    text-shadow: 0 0 50px rgb(160, 188, 228);
    color: rgb(159, 181, 238);
}

.welcome {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 60%;
    margin: auto;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mansion img {
    width: 80%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    border: solid 2px rgba(86, 255, 255, 0.733);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; 
}

.aspros img {
    width: 80%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display:block;
    border: solid 2px rgba(86, 255, 255, 0.733);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
